@charset "UTF-8";
/* reset main */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  padding: 0;
  list-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

address {
  font-style: normal;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  margin: 0;
  background-color: #f6f4ec;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 70px;
  overflow-x: hidden;
}
@media screen and (max-width: 991px) {
  .container {
    padding: 0 70px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 440px) {
  .container {
    padding: 0 20px;
  }
}

/* Custom */
.h2 {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  font-weight: 400;
}

.m--link {
  color: #b4604d;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.m--link:hover {
  color: #757c4d;
}

.m--text {
  color: #b4604d;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.no--scroll {
  overflow-y: hidden;
}

.for--mobile {
  display: none;
}

.btn--reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.header .shipping {
  background-color: #b4604d;
  text-align: center;
  color: #f1d3b9;
  padding: 11px 0;
}
.header .shipping .shipping__title {
  font-size: 17px;
  font-weight: 400;
  line-height: 27.2px;
}

.header__top-row > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  background-color: #f6f4ec;
}

.nav {
  margin-right: 61px;
  padding-left: 10px;
}
.nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}
.nav .nav__list .nav__link {
  font-size: 18px;
}

.personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding-left: 313px;
  font-size: 14px;
}

.header__nav-btn,
.sidenav {
  display: none;
}

.screen {
  width: 100%;
  height: 435px;
  position: relative;
  background-image: url(/resources/bcgmain.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.screen__btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 55px;
  padding: 10px 20px;
  border: 1px solid #b4604d;
  border-radius: 4px;
  background-color: #b4604d;
  color: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.screen__btn:hover {
  background-color: #fff;
  border-color: #b4604d;
  color: #b4604d;
  padding: 10px 25px;
}
.screen__btn:active {
  background-color: #b4604d;
  border-color: #fff;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.screen__btn:focus, .screen__btn:active:focus {
  background-color: #b4604d;
  border-color: #b4604d;
  color: #fff;
}
.screen__btn:visited {
  background-color: #b4604d;
  border-color: #fff;
}

.header__top-row--mobile {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f4ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 60px;
  margin-top: 49px;
  padding-bottom: 40px;
  z-index: 9;
}
.header__top-row--mobile .nav {
  display: block;
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header__top-row--mobile .nav__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}

/*
.sidenav {
  display: inline;
  position: fixed;
  width: 350px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-top: 22px 15px 60px 39px;
  background-color: #f6f4ec;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}
*/
@media screen and (max-width: 991px) {
  .nav {
    display: none;
  }
  .header__nav-btn {
    display: block;
  }
}
@media screen and (max-width: 575px) {
  .personal {
    padding-left: 100px;
  }
}
@media screen and (max-width: 440px) {
  .personal {
    padding-left: 30px;
  }
}
/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 30px;
  --height: 30px;
  --line-height: 2px;
  --line-margin: 2;
  --color: #b4604d;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -3);
}

.nav-icon::after {
  top: calc(var(--line-height) * 3);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.offer {
  padding: 69px 0;
  background-color: #a9ae8d;
}

.offer__title {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
  font-size: 33px;
}

.offer__link {
  color: #b4604d;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.offer__link:hover {
  color: #fff;
}

@media screen and (max-width: 575px) {
  .offer {
    padding: 50px 0;
    background-color: #a9ae8d;
    text-align: center;
  }
  .offer__title {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 29px;
  }
}
.product {
  background-color: #f6f4ec;
}
.product__title {
  color: #b4604d;
  text-align: center;
  font-size: 23px;
  line-height: 170.435%;
  text-transform: capitalize;
  padding-top: 40px;
  padding-bottom: 40px;
}
.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding-bottom: 86px;
}

.product__card {
  color: #b4604d;
}
.product__card .card__img {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; /* Время перехода */
}
.product__card .card__img:hover {
  -webkit-filter: blur(1px);
          filter: blur(1px); /* Размытие изображения */
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
  box-shadow: 6px 5px 10px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 5px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 5px 10px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.product__card .card__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}
.product__card .card__price {
  font-size: 16px;
  line-height: 100%;
}

@media screen and (max-width: 991px) {
  .product__title {
    text-align: center;
  }
  .product__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 86px;
  }
}
.setshop {
  padding: 40px 60px;
  background-color: #fff;
}

.setshop__inner {
  position: relative;
}

.setshop__img-item {
  margin: 0 auto;
  width: 100%;
}
.setshop__img-item:hover {
  cursor: pointer;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.setshop__content {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background-color: #df9b7a;
}
.setshop__content-title {
  color: #f6f4ec;
  font-size: 20px;
  line-height: 160%;
  text-transform: uppercase;
}
.setshop__content-link {
  color: #f6f4ec;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

@media screen and (max-width: 991px) {
  .setshop {
    padding: 0;
  }
  .setshop > .container {
    padding: 0;
  }
  .setshop__content-title {
    font-size: 15px;
  }
  .setshop__content-link {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .setshop {
    padding: 0;
  }
}
@media screen and (max-width: 575px) {
  .setshop {
    padding: 0px 0px;
  }
  .setshop__content {
    padding: 10px;
  }
  .setshop__content-title {
    font-size: 10px;
  }
  .setshop__content-link {
    font-size: 15px;
  }
}
.about {
  background-color: #f1d3b9;
  padding: 61px 0;
}
.about__inner {
  position: relative;
}

.about__img-box {
  padding-left: 113px;
}

.about__content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
          transform: translateY(-40%);
  left: 50%;
  width: 518px;
  height: 582px;
  background-color: #fff;
  padding: 50px;
}
.about__content-title {
  color: #b45f4d;
  text-align: center;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: 400;
  line-height: 192%;
}
.about__content-text {
  color: #b45f4d;
  padding-bottom: 40px;
  font-size: 19px;
  font-weight: 400;
  line-height: 160%;
}

@media screen and (max-width: 991px) {
  .about {
    background-color: #f1d3b9;
    padding: 0;
  }
  .about > .container {
    padding: 0;
  }
  .about__img-box {
    padding-left: 0px;
  }
  .about__content {
    position: absolute;
    left: 40%;
    width: 418px;
    height: 492px;
    background-color: #fff;
    padding: 50px;
  }
  .about__content-title {
    padding-bottom: 20px;
    font-size: 25px;
  }
  .about__content-text {
    font-size: 15px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .about__content {
    position: absolute;
    left: 30%;
    top: 65%;
    width: 418px;
    height: 492px;
    background-color: #fff;
    padding: 40px;
  }
}
@media screen and (max-width: 575px) {
  .about__content {
    position: absolute;
    left: 20%;
    width: 308px;
    height: 332px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
  }
  .about__content-title {
    padding-bottom: 10px;
    font-size: 20px;
  }
  .about__content-text {
    font-size: 12px;
    padding-bottom: 10px;
  }
}
.social__title {
  padding-top: 15px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: capitalize;
  color: #000;
  font-size: 23px;
  font-weight: 400;
  line-height: 170.435%;
}
.social__inner {
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .social__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer {
  padding: 64px 0;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.footer li {
  margin-bottom: 12px;
}

.footer__flex-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 112px;
}

.footer__link {
  color: #b45f4d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.footer__title,
.footer__subtext,
.footer__final-text {
  color: #c17c6c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.footer__title {
  text-transform: uppercase;
  margin-bottom: 19px;
}

@media screen and (max-width: 991px) {
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .footer__flex-left {
    margin-bottom: 50px;
  }
}