// colors
$main: #b4604d;
$secondary: #a9ae8d;
$white: #fff;
$link: #757c4d;

// fonts
$font-main: "Roboto", sans-serif;

// animated

$transition: all 0.25s ease-in-out;

// media

$fullhd: 1919px;
$screen: 1439px;
$laptop: 1025px;
$tablet: 991px;
$stablet: 768px;
$xstablet: 575px;
$phones: 440px;
