.about {
  background-color: #f1d3b9;
  padding: 61px 0;

  &__inner {
    position: relative;
  }
}

.about__img-box {
  padding-left: 113px;
}

.about__content {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  left: 50%;
  width: 518px;
  height: 582px;
  background-color: $white;

  padding: 50px;

  &-title {
    color: #b45f4d;

    text-align: center;
    padding-bottom: 20px;

    font-size: 30px;
    font-weight: 400;
    line-height: 192%;
  }

  &-text {
    color: #b45f4d;

    padding-bottom: 40px;

    font-size: 19px;
    font-weight: 400;
    line-height: 160%;
  }
}
