.offer {
  padding: 69px 0;
  background-color: #a9ae8d;
}

.offer__title {
  padding-top: 40px;
  padding-bottom: 40px;
  color: $white;
  font-size: 33px;
}

.offer__link {
  color: $main;
  text-decoration: none;
  transition: $transition;
  &:hover {
    color: $white;
  }
}

@include mediaXSTablet {
  .offer {
    padding: 50px 0;
    background-color: #a9ae8d;
    text-align: center;
  }

  .offer__title {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 29px;
  }
}
