.product {
  background-color: #f6f4ec;

  &__title {
    color: $main;

    text-align: center;
    font-size: 23px;
    line-height: 170.435%;
    text-transform: capitalize;

    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    padding-bottom: 86px;
  }
}

.product__card {
  color: $main;

  .card__img {
    filter: blur(0);
    transition: $transition; /* Время перехода */

    &:hover {
      filter: blur(1px); /* Размытие изображения */
      transform: scale(1.01);
      box-shadow: 6px 5px 10px 1px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 6px 5px 10px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 6px 5px 10px 1px rgba(0, 0, 0, 0.75);
      cursor: pointer;
    }
  }

  .card__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;

    padding-top: 10px;
    padding-bottom: 10px;
  }

  .card__price {
    font-size: 16px;
    line-height: 100%;
  }
}

@include mediaTablet {
  .product {
    &__title {
      text-align: center;
    }

    &__inner {
      justify-content: center;
      flex-wrap: wrap;

      padding-bottom: 86px;
    }
  }
}
