.setshop {
  padding: 40px 60px;
  background-color: $white;
}

.setshop__inner {
  position: relative;
}

.setshop__img-item {
  margin: 0 auto;
  width: 100%;

  &:hover {
    cursor: pointer;
    filter: blur(1px);
  }
}

.setshop__content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px;

  background-color: #df9b7a;

  &-title {
    color: #f6f4ec;
    font-size: 20px;
    line-height: 160%;
    text-transform: uppercase;
  }

  &-link {
    color: #f6f4ec;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
  }
}

@include mediaTablet {
  .setshop {
    padding: 0;
  }
  .setshop > .container {
    padding: 0;
  }

  .setshop__content {
    &-title {
      font-size: 15px;
    }

    &-link {
      font-size: 12px;
    }
  }
}

@include mediaSTablet {
  .setshop {
    padding: 0;
  }
}

@include mediaXSTablet {
  .setshop {
    padding: 0px 0px;
  }

  .setshop__content {
    padding: 10px;

    &-title {
      font-size: 10px;
    }

    &-link {
      font-size: 15px;
    }
  }
}
